<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <title>Movie Table</title>
</head>
<body>
    <nav class="navbar navbar-dark bg-dark fixed-top">
        <div class="container-fluid">
          <div class="navbar-header">
            <a class="navbar-brand">Fake IMDB</a>
          </div>
          <ul class="nav navbar-nav">
            <li class="active"><a href='database'>admin</a></li>
            <li class="active"><a href='add'>add other movie</a></li>
          </ul>
        </div>
    </nav>
    <div class="container" style="padding-top: 70px">
        <div class="row">
            {%for movie in movies %}
            <div class="col-md-4" >
                <a href={{movie.id}}>
                    <div class="card">
                        <img src="{{movie.url}}" class="card-img-top" alt="Image 1">
                        <div class="card-body">
                            <h5 class="card-title">{{movie.title}}</h5>
                            <p class="card-text">{{movie.year}}</p>
                        </div>
                    </div>
                </a>
            </div>
          {% endfor %}
        </div>
        
    </div>
    <!-- <h1>Moives</h1>
    <table>
        <tr>
        <th>Movie</th>
        <th>Year</th>
        </tr>
        {%for movie in movies %}
        <tr>
            <td><a href={{movie.id}}>{{movie.title}}</a></td>
            <td>{{movie.year}}</td>
        </tr> 
        {% endfor %}
    </table> -->
    

    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>

</body>
</html>